@import url("TypingTest.css");
.topSection {
    display: flex;
    flex-direction: row;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    width: min-content;
    gap: 8px;
}

.buttonsWrapper p {
    margin: 0;
    padding: 0;
}

.buttonsWrapper p:hover {
    cursor: pointer;
}

.resultsWrapper {
    margin-left: auto;
    white-space: nowrap;
    width: min-content;
    display: flex;
    gap: 8px;
    flex-direction: row;
}