.inputWrapper {
    display: flex;
    flex-direction: row;
    height: 4vh;
}

.inputWrapper button {
    height: 100%;
    flex: 1;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 18px;
    outline: none;
    font-family: 'Avenir';
    font-weight: 500;
    height: 4.45vh;
    border: 2px solid #1F6C98;
    transition: .2s ease-in-out;
}

.inputWrapper button:hover {
    cursor: pointer;
    background-color: #1F6C98;
    transition: .2s ease-in-out;
}

input {
    flex: 6;
    height: 4vh;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 2px solid #e8e8e8;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}