* {
  --color-green: #6FC37D;
  --color-red: #E85F5C;
  --color-pink: #DC9596;
  --color-black: #1A1B25;
  --color-purple: #7D5BA6;
  --color-blue: #258EA6;
}

.wrapper {
    border: 1px solid red;
    width: 60%;
    margin: 10vh auto;
}

.wordsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.word {
    width: min-content;
    white-space: nowrap;
    margin: 5px;
    font-size: 22px;
    font-weight: 900;
}

input {
    width: 95%;
    padding: 1em 0;
    margin: 3vh auto;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 900;
}